#root{
	width: 150px;
	height: 150px;
	background-color: #f0f0f0;
}

.mm{
  width            : 150px;
  height           : 150px;
  background-color : #FFE4B5;
  box-shadow       : 0 0 0 1px #000 inset;
}
